
<table class="tx-simpleevents" >
	<tr>
		<td>
			<f:translate key="tx_simpleevents_domain_model_events.event_title" />
		</td>
		<td>
		{events.eventTitle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_simpleevents_domain_model_events.event_u_r_l" />
		</td>
		<td>
		{events.eventURL}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_simpleevents_domain_model_events.event_description" />
		</td>
		<td>
		{events.eventDescription}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_simpleevents_domain_model_events.event_location" />
		</td>
		<td>
		{events.eventLocation}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_simpleevents_domain_model_events.event_start_date" />
		</td>
		<td>
		{events.eventStartDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_simpleevents_domain_model_events.event_end_date" />
		</td>
		<td>
		{events.eventEndDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_simpleevents_domain_model_events.starttimeofevent" />
		</td>
		<td>
		{events.starttimeofevent}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_simpleevents_domain_model_events.image_upload" />
		</td>
		<td>
				<f:image src="{events.imageUpload.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
</table>