{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Month.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
	<table cellspacing=0 cellpadding=50 align="center" frame='all' rules='all' style='border:#808080 1px solid;'>
	    <caption>{daylists.month_name}  {daylists.year}</caption>
	    <tr align="left">
	      <th><f:translate key="sunday" /></th>
	      <th><f:translate key="monday" /></th>
	      <th><f:translate key="tuesday" /></th>
	      <th><f:translate key="wednesday" /></th>
	      <th><f:translate key="thursday" /></th>
	      <th><f:translate key="friday" /></th>
	      <th><f:translate key="saturday" /></th>
	      	<f:comment>
			    <f:for each="{arraylist}" as="arraylists" iteration="iterator">
			    	<f:if condition="{iterator.index}%7">
			    		<f:then>
			    		</f:then>
			    		<f:else>
			    			</tr>
			    			<tr align="left">
			    		</f:else>
			    	</f:if>
			    	<f:if condition="{arraylists}==0">
			    		<f:then>
			    			<td> </td>
			    		</f:then>
			    		<f:else>
			    			<td><f:format.date format="d">{arraylists}</f:format.date></td>
			    		</f:else>
			    	</f:if>
			    </f:for>
		    </f:comment>
		    <f:for each="{testlists}" as="testlist" iteration="iterator">
		    	<f:if condition="{iterator.index}%7">
		    		<f:then>
		    		</f:then>
		    		<f:else>
		    			</tr>
		    			<tr align="left">
		    		</f:else>
		    	</f:if>
		    	<f:if condition="{testlist}==0">
		    		<f:then>
		    			<td> </td>
		    		</f:then>
		    		<f:else>
		    			<f:if condition="{testlist.title}">
		    				<f:then>
			    				<td>
			    					<f:format.date format="d">{testlist.date}</f:format.date>
				    				<f:for each="{testlist.title}" as="eventtitle">
		    							<br /> {eventtitle} 
		    						</f:for>
	    						</td>
    						</f:then>
    						<f:else>
    							<td>
    								<f:format.date format="d">{testlist.date}</f:format.date>
    							</td>
    						</f:else>
		    			</f:if>
		    		</f:else>
		    	</f:if>
		    	
		    </f:for>

    </table>

    <f:link.action action="month" arguments="{prevParams}">Previous >>> 
    </f:link.action>
    <f:link.action action="month">Today</f:link.action>
    <f:link.action action="month" arguments="{nextParams}"> <<< Next</f:link.action><br />
    <f:link.action action="list">Back to list</f:link.action><br />


</f:section>
