
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

<f:form method="post" controller="Events" action="search" name="newPost">
	<f:form.textfield id="startdate" class="datepicker" 
	property="dateRange.minimumValue" value="{f:format.date(date: 
	'{offer.dateRange.minimumValue}', format: 'yy-mm-dd')}" placeholder="Enter the date" size="30" />
	
	<f:comment>
		&nbsp;bis&nbsp;zum&nbsp;
	
	<f:form.textfield id="enddate" 
	class="datepicker" property="dateRange.maximumValue" 
	value="{f:format.date(date: '{offer.dateRange.maximumValue}', format: 
	'Y.m.d')}"  size="30" />
	</f:comment>

	<f:form.textfield id="keyword" property="keyword" value="" placeholder="Enter the keyword" size="30" />

	<f:form.submit class="submit" name="submit" value="Find Events" />

</f:form>
<f:if condition="{searchevents.0}">
<f:then>
	<f:for each="{searchevents}" as="searchevent">
		<h1>{searchevent.eventTitle}</h1>
		<p>{searchevent.eventDescription}</p>
		<p><span style="font-weight: bold;">From: </span>
		   	{searchevent.eventStartDate -> f:format.date()}  
			 <f:if condition="{searchevent.eventEndDate -> f:format.date()}">   
				<span style="font-weight: bold;">To: </span>
					{searchevent.eventEndDate -> f:format.date()}
			</f:if>
		</p>
		<p>
			<span style="font-weight: bold;">At: </span>{searchevent.starttimeofevent}
		</p>
		<p>
			<span style="font-weight: bold;">Venue: </span>
			<f:link.external uri="http://maps.google.com/maps?daddr={searchevent.eventLocation}" target="_blank">{searchevent.eventLocation}
			</f:link.external>
		</p>
		<p>
			<f:if condition="{searchevent.eventURL}">
				<f:link.external uri="{searchevent.eventURL}" target="_blank">Click for more information
				</f:link.external>
			</f:if>
		</p>
	</f:for>
</f:then>
<f:else>
	<f:translate key="key1">No results found</f:translate>
</f:else>
</f:if>

<br />
<f:link.action action="list">Back to list</f:link.action><br />
<f:link.action action="month">Calendar view</f:link.action><br />

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
jQuery.datepicker.setDefaults({
	regional: 'de',
	duration: ''
});
jQuery("#startdate").datepicker({ dateFormat: 'yy-mm-dd' });
jQuery("#enddate").datepicker({ defaultDate: '+1m -1d' });
</script>
</f:section>